:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

.loginButton {
  display: flex;
  justify-content: flex-end;
}

.loginLayout {
  display: flex;
  flex-direction: column;
  margin: 6rem;
  justify-content: center;
  align-items: center;
}
